.container-page-one {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding-top: 2.5rem;
  text-align: center;
  width: 45rem;
  display: flex;
  flex-direction: column;
}

.text-underline {
  text-decoration: underline;
  font-weight: bold;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
