.container {
  margin: 0 auto;
  width: 80rem;
}

.main-body {
  width: 100%;
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-left {
  height: 45rem;
  width: 30rem;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-right {
  height: 45rem;
  width: 30rem;
  //   background-color: rgb(0, 255, 128);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-btn {
  width: 20rem;
  height: 3rem;
}
